@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

h1{
	display: inline;
	margin-left: 55%;
      font : bold 80px/100% Arial, Helvetica, sans-serif;
    color: #e3ad57;
    font-family: 'Nanum Gothic', sans-serif;
}
body { 
  background: url(img/tbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Nanum Gothic', sans-serif;

}

#cont{
    width:1300px;
    height:auto;
    background-color: #fff;
    border: 10px solid #fff;
    padding: 10px;
    
    font-size: large;
    margin-left: 200px;
    opacity: 0.8;
    
}

img{
    width:250px;
    height:250px;
    opacity: 1;
    
}
img:hover{
    width:400px;
    height:400px;
    opacity: 1.0;
    
}

.btn2 {
  background: #977e46;
  background-image: -webkit-linear-gradient(top, #977e46, #88a2b9);
  background-image: -moz-linear-gradient(top, #977e46, #88a2b9);
  background-image: -ms-linear-gradient(top, #977e46, #88a2b9);
  background-image: -o-linear-gradient(top, #977e46, #88a2b9);
  background-image: linear-gradient(to bottom, #977e46, #88a2b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    width:60px;
    height:30px;
         display:inline;
         margin-top: -3270px;
        margin-left: 100px;
         padding: 5PX;
         position: fixed;
        text-align: center;
    float: none;
        
}

.btn2:hover {
  background: #88a2b9;
  background-image: -webkit-linear-gradient(top, #88a2b9, #977e46);
  background-image: -moz-linear-gradient(top, #88a2b9, #977e46);
  background-image: -ms-linear-gradient(top, #88a2b9, #977e46);
  background-image: -o-linear-gradient(top, #88a2b9, #977e46);
  background-image: linear-gradient(to bottom, #88a2b9, #977e46);
  text-decoration: none;
     float: none;
}
.btn {
  background: #977e46;
  background-image: -webkit-linear-gradient(top, #977e46, #88a2b9);
  background-image: -moz-linear-gradient(top, #977e46, #88a2b9);
  background-image: -ms-linear-gradient(top, #977e46, #88a2b9);
  background-image: -o-linear-gradient(top, #977e46, #88a2b9);
  background-image: linear-gradient(to bottom, #977e46, #88a2b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    width:60px;
    height:30px;
         margin-top: -3270px;
         padding: 5PX;
         position: fixed;
    display: inline;
    text-align: center;
     float: none;
}

.btn:hover {
  background: #88a2b9;
  background-image: -webkit-linear-gradient(top, #88a2b9, #977e46);
  background-image: -moz-linear-gradient(top, #88a2b9, #977e46);
  background-image: -ms-linear-gradient(top, #88a2b9, #977e46);
  background-image: -o-linear-gradient(top, #88a2b9, #977e46);
  background-image: linear-gradient(to bottom, #88a2b9, #977e46);
  text-decoration: none;
     float: none;
    position: fixed;
}
button{
    display: none;
}
.btn3 {
  background: #977e46;
  background-image: -webkit-linear-gradient(top, #977e46, #88a2b9);
  background-image: -moz-linear-gradient(top, #977e46, #88a2b9);
  background-image: -ms-linear-gradient(top, #977e46, #88a2b9);
  background-image: -o-linear-gradient(top, #977e46, #88a2b9);
  background-image: linear-gradient(to bottom, #977e46, #88a2b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    width:60px;
    height:30px;
         margin-top: -3150px;
         padding: 5PX;
         position: fixed;
    display: inline;
    text-align: center;
     float: none;
}

.btn3:hover {
  background: #88a2b9;
  background-image: -webkit-linear-gradient(top, #88a2b9, #977e46);
  background-image: -moz-linear-gradient(top, #88a2b9, #977e46);
  background-image: -ms-linear-gradient(top, #88a2b9, #977e46);
  background-image: -o-linear-gradient(top, #88a2b9, #977e46);
  background-image: linear-gradient(to bottom, #88a2b9, #977e46);
  text-decoration: none;
     float: none;
    position: fixed;
}
video{
    width: 500px;
    height: 500px;
}